/*font cortesy of https://www.onlinewebfonts.com/download/f4d1593471d222ddebd973210265762a*/ 
@font-face {
    font-family: "Pokemon"; 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), 
         url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), 
         url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), 
         url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), 
         url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); 
}

//SASS variables:
//$primary_pink: #ff9999;
$primary_pink: green;
//$primary_pink: red;

$letter_bank:  palegoldenrod;

$pop_up_width: 50%;
$pop_up_height: 65%;
$pop_up_corners: 25px; 
$pop_up_opacity: 0.75;

$pop_up_height_mobile: 50%;


//screen sizes
$mobile: 600px;
$tablet: 600px;
$med_tablet: 768px;
$desktop: 992px;

//mixins
@mixin pop-up-box($width, $height, $rounded-corners, $background-color) {
    width: $width;
    height: $height;
    border-radius: $rounded-corners;
    border: 5px solid #73400d;
    background-color: $background-color;
    box-shadow: 4px 4px 8px grey;
    opacity: $pop_up_opacity;
    
}

@mixin pretty-button ($color, $background-color, $border-color) {
    color: $color;
    background-color: $background-color;
    border: 5px solid $border-color;
    border-radius: 8px;
    padding: 10px;
}

//common styling 
html, body {
    height: 100%;
    margin: 0; 
    background-image: url('../images/background-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: auto;
    //opacity: 0.5;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 4px 4px $primary_pink;
    font-family: 'Pokemon', Fallback, 'Courier New', Courier, monospace;
}

h2 {
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hangman-container { 
    display: flex;
    flex-direction: row;
    z-index: 0;

    #hangman-image {
        max-width: 50%;
        max-height: 90%;
        //margin-top: 90%;
        top: 20%;
    }
    
    #angry-puff {
        max-width: 100%;
        max-height: 100%;
        margin-top: 20%;
    }
}

//word and hint output
#interaction-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2.5%;
    z-index: 1;

    #word-container {
        display: flex;
        flex: row;
        margin-right: 10px;
    
        p{ 
            font-size: 75px;
            color: palegoldenrod;
            margin-left: 10px;
        }
    }
    
    #hint-output{
        font-size: 18px;
        font-weight: bold;
        color: red;
        margin-bottom: 15px;
    
    }
    
    #guess-output{
        font-size: 30px;
        background-color: $primary_pink;
        padding: 3px;
        border-radius: 10px;
        box-shadow: 4px 4px 8px grey;
        margin-bottom: 10px;
        opacity: 0.7;
    }

    #alphabet-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        padding: 2%;
        border-radius: 25px;
        background-color: $letter_bank;
        box-sizing: border-box;
        box-shadow: 4px 4px 8px grey;
        opacity: 0.5;
    }
    .letter {
        margin-left: 10px;
        margin-bottom: 10px;
    
        img{
            width: 55px;
            box-shadow: 4px 4px 8px grey;
        }
    }
}

#start-pop-up{
    @include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners,	#e6e6e6);
    position: fixed;
    overflow: hidden;
    text-align: center;

    transform:translate(50%, 0%);
    opacity: 1;
    //display: none;
    z-index: 2;

    p, ul{
        text-align: left;
        margin-left: 15px;
        font-size: 20px;
    }

    button{
        @include pretty-button(white, 	#24a824,  #81e481);
        font-size: 30px;
        padding: 10px;
        width: 50%;
        //margin-left: 40%;
    }

    button:hover{
        background-color: #28bd28;
    }
}

#win-pop-up{
    position: fixed;
    //@include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #aaf3a5);
    @include pop-up-box($pop_up_width, 50%, $pop_up_corners, #e6e6e6);
    text-align: center;
    transform:translate(50%, 0%);
    opacity: 1;
    z-index: 1;

    p {
        margin-left: 15px;
        font-size: 20px;
    }

    img{
        max-width: 50%;
        max-height: 50%;
    }

    button{
        @include pretty-button(white, 	#24a824,  #81e481);
        font-size: 30px;
        transition-duration: 0.3s;
    }

    button:hover{
        background-color: #28bd28;
    }
}

#lose-pop-up{
    position: fixed;
    //@include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #ffc6b3);
    @include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #e6e6e6);
    text-align: center;
    transform:translate(50%, 0%);
    opacity: 1;
    z-index: 1;
    
    p {
        margin-left: 15px;
        font-size: 20px;
    }

    img {
        max-width: 50%;
        max-height: 50%;
    }

    button{
        @include pretty-button(white, 	#24a824,  #81e481);
        transition-duration: 0.3s;
        font-size: 30px;
    }

    button:hover{
        background-color: #28bd28;
    }
}

#error-pop-up{
    position: fixed;
    @include pop-up-box($pop_up_width, 40%, $pop_up_corners, #ff4d4d);
    text-align: center;
    transform:translate(50%, 0%);
    opacity: 1;
    z-index: 1;

    p {
        margin-left: 15px;
        font-size: 20px;

    }

    button{
        @include pretty-button(white, 	#24a824,  #81e481);
        transition-duration: 0.3s;
        font-size: 30px;
    }

    button:hover{
        background-color: #28bd28;
    }
}

//mobile
@media only screen and (max-width: $mobile) {
    #start-pop-up{
        @include pop-up-box($pop_up_width, $pop_up_height_mobile, $pop_up_corners,	#e6e6e6);
        //position: fixed;
        overflow: auto;
        //text-align: center;
    
        transform:translate(50%, 0%);
        opacity: 1;
        //display: none;
        z-index: 2;
    
        p, ul{
            text-align: left;
            margin-left: 15px;
            font-size: 15px;
        }

        ul {
            list-style: inside;
            padding-left: 0;
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 22.5px;
            padding: 7.5px;
            width: 50%;
            margin: 15%;
            //margin-left: 40%;
        }
    
        button:hover{
            background-color: #28bd28;
        }
    }

    //word and hint output
    #interaction-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 2.5%;
        z-index: 1;

        #word-container {
            display: flex;
            flex: row;
            margin-right: 10px;
            margin-bottom: 30%;
        
            p{ 
                font-size: 55px;
                color: palegoldenrod;
                margin-left: 10px;
            }
        }
        
        #hint-output{
            font-size: 18px;
            font-weight: bold;
            color: red;
            margin-bottom: 15px;
        
        }
        
        #guess-output{
            font-size: 22.5px;
            background-color: #ff9999;
            padding: 2.25px;
            border-radius: 7.5px;
            box-shadow: 3px 3px 6px grey;
            margin-bottom: 7.5px;
            opacity: 0.7;
        }

        #alphabet-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 95%;
            padding: 2%;
            border-radius: 25px;
            background-color: $letter_bank;
            box-sizing: border-box;
            box-shadow: 3px 3px 6px grey;
            opacity: 0.5;

        }
        .letter {
            margin-left: 10px;
            margin-bottom: 10px;
        
            img{
                width: 30px;
                box-shadow: 3px 3px 6px grey;
            }
        }
    }

    #hangman-container { 
        display: flex;
        flex-direction: row;
        z-index: 0;
    
        #hangman-image {
            max-width: 100%;
            height: 100%;
            margin-top: 30%;
            z-index: 1;
        }
        
        #angry-puff {
            max-width: 100%;
            max-height: 100%;
            margin-top: 160%;
            z-index: 1;
        }
    }

    #win-pop-up{
        overflow: auto;
        position: fixed;
        //@include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #aaf3a5);
        @include pop-up-box($pop_up_width, 50%, $pop_up_corners, #e6e6e6);
        text-align: center;
        transform:translate(50%, 0%);
        opacity: 1;
        z-index: 2;
    
        p {
            margin-left: 15px;
            font-size: 15px;
        }
    
        img{
            max-width: 50%;
            max-height: 50%;
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 18px;
            width: 50%;
            margin: 5%;
            transition-duration: 0.3s;
        }
    
        button:hover{
            background-color: #28bd28;
        }
    }

    #lose-pop-up{
        position: fixed;
        //@include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #ffc6b3);
        @include pop-up-box($pop_up_width, 50% , $pop_up_corners, #e6e6e6);
        text-align: center;
        transform:translate(50%, 0%);
        opacity: 1;
        z-index: 2;
        overflow: auto;
        
        p {
            margin-left: 15px;
            font-size: 15px;
        }
    
        img {
            max-width: 50%;
            max-height: 50%;
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 18px;
            width: 50%;
            margin: 5%;
            transition-duration: 0.3s;

        }
    
        button:hover{
            background-color: #28bd28;
        }
    }

    #error-pop-up{
        position: fixed;
        @include pop-up-box($pop_up_width, 35%, $pop_up_corners, #ff4d4d);
        text-align: center;
        transform:translate(50%, 0%);
        opacity: 1;
        z-index: 2;
    
        p {
            margin-left: 15px;
            font-size: 15px;
    
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 18px;
            width: 50%;
            margin: 5%;
            transition-duration: 0.3s;
        }
    
        button:hover{
            background-color: #28bd28;
        }
    }
}



//tablet
@media only screen and (min-width: $tablet) {
    #start-pop-up{
        @include pop-up-box($pop_up_width, $pop_up_height_mobile, $pop_up_corners,	#e6e6e6);
        //position: fixed;
        overflow: auto;
        //text-align: center;
    
        transform:translate(50%, 0%);
        opacity: 1;
        //display: none;
        z-index: 2;
    
        p, ul{
            text-align: left;
            margin-left: 15px;
            font-size: 15px;
        }

        ul {
            list-style: inside;
            padding-left: 0;
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 22.5px;
            padding: 7.5px;
            width: 50%;
            margin: 15%;
            //margin-left: 40%;
        }
    
        button:hover{
            background-color: #28bd28;
        }
    }

    //word and hint output
    #interaction-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 2.5%;
        z-index: 1;

        #word-container {
            display: flex;
            flex: row;
            margin-right: 10px;
            margin-bottom: 30%;
        
            p{ 
                font-size: 55px;
                color: palegoldenrod;
                margin-left: 10px;
            }
        }
        
        #hint-output{
            font-size: 18px;
            font-weight: bold;
            color: red;
            margin-bottom: 15px;
        
        }
        
        #guess-output{
            font-size: 22.5px;
            //change back later
            background-color: green;
            padding: 2.25px;
            border-radius: 7.5px;
            box-shadow: 3px 3px 6px grey;
            margin-bottom: 7.5px;
            opacity: 0.7;
        }

        //box containing alphabets
        #alphabet-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 95%;
            padding: 2%;
            border-radius: 25px;
            background-color: $letter_bank;
            box-sizing: border-box;
            box-shadow: 3px 3px 6px grey;
            opacity: 0.5;
            max-height: 50%;

        }
        .letter {
            margin-left: 10px;
            margin-bottom: 10px;
        
            img{
                width: 30px;
                box-shadow: 3px 3px 6px grey;
            }
        }
    }

    #hangman-container { 
        display: flex;
        flex-direction: row;
        position: sticky;
        z-index: 0;
    
        #hangman-image {
            max-width: 100%;
            height: auto;
            //max-width: 100%;
            //height: 100%;
            margin-top: 30%;
            z-index: 1;
        }
        
        #angry-puff {
            max-width: 100%;
            height: auto;
            //max-width: 100%;
            //max-height: 100%;
            //margin-top: 160%;
            z-index: 1;
        }
    }

    #win-pop-up{
        overflow: auto;
        position: fixed;
        //@include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #aaf3a5);
        @include pop-up-box($pop_up_width, 50%, $pop_up_corners, #e6e6e6);
        text-align: center;
        transform:translate(50%, 0%);
        opacity: 1;
        z-index: 2;
    
        p {
            margin-left: 15px;
            font-size: 15px;
        }
    
        img{
            max-width: 50%;
            max-height: 50%;
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 18px;
            width: 50%;
            margin: 5%;
            transition-duration: 0.3s;
        }
    
        button:hover{
            background-color: #28bd28;
        }
    }

    #lose-pop-up{
        position: fixed;
        //@include pop-up-box($pop_up_width, $pop_up_height, $pop_up_corners, #ffc6b3);
        @include pop-up-box($pop_up_width, 50% , $pop_up_corners, #e6e6e6);
        text-align: center;
        transform:translate(50%, 0%);
        opacity: 1;
        z-index: 2;
        overflow: auto;
        
        p {
            margin-left: 15px;
            font-size: 15px;
        }
    
        img {
            max-width: 50%;
            max-height: 50%;
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 18px;
            width: 50%;
            margin: 5%;
            transition-duration: 0.3s;

        }
    
        button:hover{
            background-color: #28bd28;
        }
    }

    #error-pop-up{
        position: fixed;
        @include pop-up-box($pop_up_width, 35%, $pop_up_corners, #ff4d4d);
        text-align: center;
        transform:translate(50%, 0%);
        opacity: 1;
        z-index: 2;
    
        p {
            margin-left: 15px;
            font-size: 15px;
    
        }
    
        button{
            @include pretty-button(white, 	#24a824,  #81e481);
            font-size: 18px;
            width: 50%;
            margin: 5%;
            transition-duration: 0.3s;
        }
    
        button:hover{
            background-color: #28bd28;
        }
    }
}

//desktop
@media only screen and (min-width: $desktop) {}