#start-pop-up{
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    transform:translate(0%, 50%);
}

#win-pop-up{
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    transform:translate(0%, 50%);
    //display: none; 
    opacity: 0;
}

#lose-pop-up{
    width: 500px;
    height: 500px;
    background-color: lightpink;
    transform:translate(0%, -70%);
    //display: none; 
    opacity: 0;
}
