#start-pop-up {
  width: 500px;
  height: 500px;
  background-color: lightskyblue;
  transform: translate(0%, 50%);
}

#win-pop-up {
  width: 500px;
  height: 500px;
  background-color: lightgreen;
  transform: translate(0%, 50%);
}

#lose-pop-up {
  width: 500px;
  height: 500px;
  background-color: lightpink;
}
